/* START GENERAL STYLE */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgColor);
}

html {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  text-decoration: none;
  color: inherit;
}

a,
span {
  display: inline-block;
}

ul {
  list-style-type: none;
}

:root {
  --mainColor: #0078ff;
  --hovering-color: #cde1f8;
  --opacityColor: #1769c8;
  --bgColor: #f5f5f5;
}
/* END GENERAL STYLE */

/*START OF HEASER AND NAV  */
.home-li,
.about-li,
.services-li,
.work-li,
.blog-li,
.dropdown-li,
.contact-li {
  padding: 10px 0 5px 20px;
}

#Eissa .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--mainColor);
  transition: all 0.7s;
}

body:has(.home:target) .home::before,
body:has(.about:target) .about::before,
body:has(.services:target) .services::before,
body:has(.work:target) .work::before,
body:has(.blog:target) .blog::before,
body:has(.contact:target) .contact::before {
  width: 2.5rem !important;
}

#Eissa .nav-list a:hover::before {
  width: 2.5rem;
}

#home {
  background-image: linear-gradient(#05050575, #0000009d),
    url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header-content h1 {
  font-size: 72px;
}
/*END OF HEASER AND NAV  */

/*START OF ABOUT SECTION */

#about .about-list li strong {
  padding-right: 0.625rem;
}

#about h4 {
  position: relative;
}

#about h4::after {
  content: "";
  width: 6.5rem;
  height: 0.3rem;
  background-color: var(--mainColor);
  position: absolute;
  top: 100%;
  left: -10%;
  transform: translateX(50%);
  margin-top: 0.625rem;
}
/*END OF ABOUT SECTION */

/*STATR OF SERVICES SECTION */
#services .service-text p::after {
  content: "";
  width: 3.9rem;
  height: 0.3rem;
  background-color: var(--mainColor);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

#services i {
  border: 10px solid var(--mainColor);
  transition: all 0.6s;
  padding: 1.875rem;
}

#services .services-card {
  width: 22rem;
}

#services .services-card:hover i {
  background-color: var(--mainColor);
  border: 10px solid var(--hovering-color);
  color: #fff;
}

@media (max-width: 1200px) {
  #services .services-card {
    width: 22rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #services .services-card {
    width: 18rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #services .services-card {
    width: 14rem;
  }
}

@media (max-width: 768px) {
  #services .services-card {
    width: 30rem;
  }
}
/*END OF SERVICES SECTION */

/*STATR OF SERVICES REVIEW */
#review {
  background-image: url(../img/post-3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#review i {
  padding: 2.2rem;
  border: 0.625rem solid #cde1f8;
}
/*END OF SERVICES REVIEW */

/*STATR OF SERVICES WORK */
#work .service-text p::after {
  content: "";
  width: 3.9rem;
  height: 0.3rem;
  background-color: var(--mainColor);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#work .overflow-hidden img {
  transition: all 0.6s;
  cursor: pointer;
}

#work .overflow-hidden img:hover {
  transform: scale(1.2, 1.2);
}

#work i {
  padding: 1rem;
  border: 3px solid var(--mainColor);
  border-radius: 50%;
  color: var(--mainColor);
  margin-left: 4.375rem;
  cursor: pointer;
}
/*END OF SERVICES WORK */

/* START OF COROUSEL */
#carousel-section {
  background-image: url(../img/overlay-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.carousel-indicators .active {
  width: 20px;
  height: 20px;
}
/* END OF COROUSEL */

/* START OF BLOG */
#blog .blog-text p::after {
  content: "";
  width: 3.9rem;
  height: 0.3rem;
  background-color: var(--mainColor);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#blog .card-footer div img {
  width: 15%;
  cursor: pointer;
  transition: all 0.5s;
}

#blog .card-footer div span {
  cursor: pointer;
}

#blog .card-footer div:hover span {
  color: var(--mainColor);
}

#blog .card-title {
  transition: all 0.5s;
  cursor: pointer;
}

#blog .card-title:hover {
  color: var(--mainColor);
}
#blog .text-body-secondary::before {
  content: "\f017";
  font: var(--fa-font-regular);
  padding-right: 0.5rem;
}

#blog .card-body span {
  top: -15px;
  right: 50%;
  transform: translateX(50%);
}
/* END OF BLOG */

/* START OF FOOTER */
#footer-content {
  background-image: url(../img/overlay-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#footer-content h4::before {
  content: "";
  width: 6.5rem;
  height: 0.3rem;
  background-color: var(--mainColor);
  position: absolute;
  top: 100%;
  left: -10%;
  transform: translateX(50%);
}

#footer-content button {
  border: var(--mainColor) 6px solid;
  transition: all 0.6s;
  background-color: var(--mainColor);
}

#footer-content button:hover {
  border: 6px solid var(--hovering-color);
}

#footer-content .footer-icons li a i {
  padding: 0.625rem;
  border: 6px solid var(--mainColor);
  transition: all 0.6s;
}

#footer-content .footer-icons li a i:hover {
  background-color: var(--mainColor);
  border: 6px solid var(--hovering-color);
  color: #fff;
}
/* END OF FOOTER */
